<section id="home" class="d-flex flex-column justify-content-center align-items-center mt-5">
    <figure class=" d-flex flex-column justify-content-center align-items-center">
        <div class="img">
            <img src="./assets/avataaars.svg" alt="not found" class="w-100">
        </div>
        <figcaption>
            <h2 class="text-white"> START FRAMEWORK</h2>
        </figcaption>
        <div class="icon ">
            <i class="fa-solid fa-star"></i>
        </div>
        <p class="text-white">Graphic Artist - Web Designer - Illustrator</p>
        
    </figure>
    <!-- Button trigger modal -->
